@font-face {
    font-family: 'Marianne';
    src: url('/fonts/Marianne/Marianne-Regular.woff2') format('woff2'),
         url('/fonts/Marianne/Marianne-Regular.woff') format('woff');
    font-weight: normal; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Marianne-Light';
    src: url('/fonts/Marianne/Marianne-Light.woff2') format('woff2'),
         url('/fonts/Marianne/Marianne-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Marianne-Bold';
    src: url('/fonts/Marianne/Marianne-ExtraBold.woff2') format('woff2'),
         url('/fonts/Marianne/Marianne-ExtraBold.woff') format('woff');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
  }